*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    visibility: visible;
}

.initialText
{
    position: relative;
    font-size: 100px;
    color: white;
    align-items: center;
    top: 1%;
    width: 100%;
    height: 80%;
    font-family: "Gill Sans", sans-serif;
    transition: transform 0.5s;
    font-weight: 650;
}


.info
{

    visibility: visible;;
    position: relative;
    left: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5vh;
    color: white;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
    font-weight: 200;
    background-color: rgba(46, 46, 46, 0.464);
    cursor: help;
}


.about {
    visibility: hidden;
    position: relative;
    left: 10px;
    top: 11px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5vh;
    color: white;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
    transition: transform 0.5s;
    font-weight: 200;
    background-color: rgba(46, 46, 46, 0.464);
}


.loading-bar
{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    background: #00ff40ec;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.errorScreen {

    visibility: collapse;
    position: absolute;
    z-index: 10000000;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: rgb(143, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vh;

}

.lil-gui {

    border-radius: 5px;
    --widget-color: rgb(0, 0, 0);
    --widget-border-radius: 5px;
    --padding: 5px;
    --hover-color: rgba(255, 0, 0, 0.432);
    --focus-color: rgb(255, 0, 0);
    --widget-height: 3vh;
    --font-size: 1.5vh
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: help;
  }
  
  .point:hover .text{
      opacity: 1;
  }
  
  
  .point.visible .label {
      transform: scale(1,1);
  }
  
  
  .point .label {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.485);
    border: white solid 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    transform: scale(0,0);
    transition: transform 0.5s;
  }
  
  .point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background: #00000077;
    border: 2px solid #ffffffe4;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 15px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    
  }
  
.imageClass {
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}

.element {
visibility: hidden;
}

.statspanel {
    visibility: visible;
}